.cheque{
  border: 1px solid black;
  background-color: floralwhite;
}
.bankName{
    height:45px;
  }
  .payee{
    text-decoration: underline;
    margin-left: 10px;
  }
  .sumOf{
    height: 75px;
    text-decoration: underline;
  }
  .chequeBody{
    background-color: beige;
    padding: 10px;
  }
  .chequeFooter{
  margin-left: 30px;
  }
