<p>Thank you {{user.first_name}}!</p>

<div class="container-fluid cheque">
    <div class="row bankName">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <strong>Commonwealth</strong> Bank
    </div>
    <div class="row bankName">
        <small class="text-muted">Commonwealth Bank of Australia</small>
    </div>
    </div>
    <div class="row date">
        <div class="col-sm-12 col-md-9 col-lg-9">
        </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
         Date {{ user.date }}
        </div>
      </div>
    <div class="chequeBody">
        <div class="row address">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <Address>#45 46 Bowen Hills QLD</Address>
            </div>
        </div>
        <div class="row payee">
            <div class="col-sm-2 col-md-1 col-lg-1">
                <p>PAY</p>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-6">
                {{ user.payee_name }}
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                or Bearer
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 sum">
                $ {{ user.sum }}
            </div>
        </div>
        <div class="row sumOf">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <p>The Sum Of {{ user.sum_cheque_format}}</p>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <hr>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <hr>
        </div>
        </div>
    </div>
    <div class="row chequeFooter">
        <p>"2435325" 42 242 | 373 19"3`135</p>
    </div>
</div>
<br>